/**************************GLOBAL CSS**************************/

.change-password,
.pass-details,
.register-form,
.await-results {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    color: #777;
}

.copyright {
    margin-top: 2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

button[type="button"],
button[type="submit"] {
    border: none!important;
    outline: none!important;
}

.wrongPasswordModal {
    margin-top: 20vh!important;
    width: 40vw!important;
}

.label {
    color: #777!important;
}

a {
    cursor: pointer;
}

body {
    background: url("../img/bgdesktop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: url("../img/bgdesktop.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/****************************Navbar*****************************/

.navbar {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.navbar-logo {
    display: inline-block;
    height: 60px;
    margin-top: -12px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    display: inline-block;
    font-size: 10vh;
    font-weight: bold;
    color: #246dff;
    text-transform: uppercase;
}


/*.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {

}*/

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #246dff;
    border-color: #246dff;
    text-transform: uppercase;
    color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #246dff;
}

.navbar-custom .nav li a {
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-custom .nav li a:hover {
    color: #246dff;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}


/**************************Navbar ENDS**************************/


/**************************Login Form Starts**************************/


/*circle mumbai logo starts*/

.logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -50px;
    height: 100px;
    width: 100px;
    background: url('../img/mumbaistation.png') center center no-repeat, transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);*/
}


/*circle logo ends*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.login-screen {
    /*background-color: #f0f0f0;*/
    background: url("../img/jumbotronbg.jpg") no-repeat center;
    background-size: cover;
    /*background: rgba(255, 255, 255, 0.8);*/
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
    /*background-color: transparent;*/
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    /*box-shadow: 5px 5px 2px #888888;*/
}

.app-title,
h1 {
    text-align: center;
    color: #777;
    margin: 0px 0px 10px 0px;
    padding: 0;
    line-height: auto;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.input-group-addon {
    background: white;
}

input {
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 3px;
    width: 250px;
    transition: border .5s;
}

.btn {
    border: 2px solid transparent;
    background: #246dff;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 6px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.btn:hover {
    background-color: #246dff;
}

.login-link {
    display: block;
    margin-top: 12px;
}


/**************************Forgot password modal **************************/

.modal.modal-wide .modal-dialog {
    width: 50%;
}

.modal {
    text-align: center;
    padding: 0!important;
}

#forgotPassword:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.jumbotron {
    background: url("../img/jumbotronbg.jpg") no-repeat center;
    background-size: cover;
    /*filter: alpha(opacity=30);*/
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    /*background: rgba(255, 255, 255, 0.8);*/
    z-index: 999;
}


/**************************Animation Keyframes**************************/


/*Fade in for form and jumbotron*/

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/*Wave for student pass radio buttons*/

@-webkit-keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -35px;
        margin-top: -35px;
        opacity: 0;
    }
}

@-moz-keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -35px;
        margin-top: -35px;
        opacity: 0;
    }
}

@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -35px;
        margin-top: -35px;
        opacity: 0;
    }
}


/************************Unsuccessful login*************************/

.unsucessful a {
    text-decoration: none;
}

.unsucessful {
    max-width: 500px;
    margin: auto;
}


/************************student home*************************/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #246dff;
}

.option-input:checked::before {
    height: 23px;
    width: 23px;
    position: absolute;
    content: '\2713';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    outline: none;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #246dff;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    outline: none;
}

.option-input.radio {
    border-radius: 50%;
    outline: none !important;
    position: relative;
    z-index: 1;
}

.option-input.radio::after {
    border-radius: 50%;
}

.cont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -ms-flex-align: stretch;
    /*background: #f5f5f5;*/
    background: rgba(255, 255, 255, 0.5);
    /*color: #9faab7;*/
    border-style: dotted;
    border-color: #dbdcdd;
    /*font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;*/
    text-align: center;
}

.cont label {
    display: block;
    line-height: 20px;
    padding-right: 15px;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.notice {
    color: red;
    font-size: 1em !important;
}


/**************************Media Queries**************************/

@media (min-width: 270px) and (max-width: 400px) {
    .login {
        width: 90% !important;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    .modal.modal-wide .modal-dialog {
        width: 90% !important;
    }
    .navbar-logo {
        height: 45px;
    }
}

@media (min-width: 320px) and (max-width: 550px) {
    .login {
        padding: 12% 0 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .jumbotron {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
        /*opacity: 0.5;
    filter: alpha(opacity=50);*/
    }
    /*.unsucessful{
    margin-bottom: 50vh;

}*/
}

.set-today-date {
    padding-top: 3.5px!important;
    padding-bottom: 3.5px!important;
    margin: 0!important;
}


/**************************Admin Dashboard**************************/

.sidebar-menu li a {
    font-weight: normal;
    font-size: 14px;
    padding: 16px 16px 16px 10px;
    color: #7a7a7a;
    opacity: 0.87;
}

.sidebar-menu li a i,
.sidebar-menu li a span {
    vertical-align: middle;
}

.sidebar-menu li a i {
    width: 30px;
}

.sidebar-menu li:hover a,
.sidebar-menu li.active a {
    color: #2196F3 !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    padding: 24px 5px 12px 20px;
}

.content-header>.breadcrumb>li+li:before {
    content: '/';
}

.breadcrumb li a {
    font-size: 14px;
}

.breadcrumb li a i {
    font-size: 14px;
    width: 20px;
}

.breadcrumb li a i,
.breadcrumb li a span {
    vertical-align: middle;
}

.breadcrumb li.active {
    color: #2196F3;
}

.content-wrapper {
    border-left: 0;
}

.content-wrapper>div {
    display: none !important;
    visibility: hidden;
    position: absolute;
}